<div class="row">
  <div class="col-4">
    <form>
      <div class="form-control">
        <label for="name_product">Name</label>
        <input type="text" class="form-control" value="<%=product.name%>" id="name_product">
      </div>
      <div class="form-control">
        <label for="code_product">Code</label>
        <input type="text" class="form-control" value="<%=product.code%>" id="code_product">
      </div>
    </form>
  </div>
</div>
